<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnenglish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher3"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">

        <activity
            android:name="com.example.learnenglish.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.learnenglish.MainActivity" />

        <activity android:name="com.example.learnenglish.LearnWords" />

        <activity
            android:name="com.example.learnenglish.Test"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="com.example.learnenglish.MyWords" />

        <activity
            android:name="com.example.learnenglish.Dictionary"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="com.example.learnenglish.Settings" />

    </application>

</manifest>
